doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Internet of Vehicles PoC
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Advent+Pro')
  link(rel='stylesheet' href='/assets/css/styles.css')
.container(style='margin-top: 30px;')
  h1.text-center Internet of Vehicles PoC
  h4.text-center(style='margin-top: -10px;') Create Case
body(style="font-family: 'Advent Pro', sans-serif;")
  form
    .container(style='max-height: 420px;width: 60%;')
      label Case Name
      .input-group
        input.form-control(type='text' style='width: 100%;margin-top: -10px;padding-bottom: 2px;padding-top: 2px;' placeholder='Enter Case Name')
        .input-group-prepend
        .input-group-append
      label(style='margin-top: 20px;') Private for
      .input-group
        .input-group-prepend
        .input-group-append
      button.btn.btn-light.border.rounded-0(type='button' style='width: 25%;background-color: rgb(255,255,255);') Lorem Org
      button.btn.btn-light(type='button' style='width: 25%;background-color: #6633ff7d;color: rgb(255,255,255);') Ipsum Org
      button.btn.btn-light.border.rounded-0(type='button' style='width: 25%;background-color: rgb(255,255,255);') Dolor Org
      br
      label(style='margin-top: 20px;') Case Description
      textarea.form-control(placeholder='Enter Description Here' rows='5')
    .container.text-center(style='max-height: 420px;width: 60%;margin-top: 10px;')
      button.btn.btn-light.border.rounded-0(type='button' style='background-color: #999999;margin-right: 10px;width: 100px;color: rgb(255,255,255);') Confirm
      button.btn.btn-light.border.rounded-0(type='button' style='background-color: #efefef;width: 100px;') Cancel
script(src='/assets/js/jquery.min.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
